<section class="layout-wrap">
    <div class="layout-title">
        <span><%= page.title %></span>
    </div>
    <div class="layout-wrap-inner tag-cloud">
        <ul style="overflow:hidden; position: relative" class="tag-list">
    		<% site.tags.sort('name').each(function(item){ %>
    		<li class="md-3 sm-4 xs-4 tag-list-item">
	    		<a href="<%- config.root %><%- item.path %>">
		    		<div class="tag-list-img"><%= item.name.substring(0, 1) %></div>
	    			<div class="tag-list-name"><%= item.name %> <!-- (<%= item.posts.length %>) --></div>
	    		</a>
    		</li>
    		
	    	<% }); %>
    	</ul>
    </div>
</section>